@import url(https://fonts.googleapis.com/css?family=Mulish:regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Unbounded:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]:before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block
}
._icon-heart-bold:before {
  content: ""
}
._icon-heart-fill:before {
  content: ""
}
._icon-star:before {
  content: ""
}
._icon-home:before {
  content: ""
}
._icon-user-circle:before {
  content: ""
}
._icon-bell:before {
  content: ""
}
._icon-message:before {
  content: ""
}
._icon-card:before {
  content: ""
}
._icon-heart:before {
  content: ""
}
._icon-dots-circle:before {
  content: ""
}
._icon-crown:before {
  content: ""
}
._icon-diamond:before {
  content: ""
}
._icon-search:before {
  content: ""
}
._icon-cross:before {
  content: ""
}
._icon-sort:before {
  content: ""
}
._icon-dots:before {
  content: ""
}
._icon-message-bold:before {
  content: ""
}
._icon-favorite:before {
  content: ""
}
._icon-ch-right:before {
  content: ""
}
._icon-chevron:before {
  content: ""
}
._icon-planet:before {
  content: ""
}
._icon-plus:before {
  content: ""
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
input:focus {
  outline: 0
}
* {
  -webkit-tap-highlight-color: transparent
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Mulish,sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Mulish,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
button:disabled,
option:disabled,
select:disabled {
  cursor: default
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
details summary {
  list-style: none
}
details summary::-webkit-details-marker {
  display: none
}
input {
  border-radius: 0
}
input[type=search] {
  -webkit-appearance: none
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 82.5rem;
  margin: 0 auto;
  padding: 0 .625rem
}
.page--gray {
  background-color: #f2f2f2
}
.page--flex {
  display: flex
}
.select {
  min-width: 0;
  position: relative
}
.select__body {
  position: relative
}
.select__title {
  color: inherit;
  text-align: left;
  border: .0625rem solid rgba(143,154,167,.3);
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: .75rem
}
.select_lang .select__title {
  color: #1a1a1c;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  background-color: rgba(0,0,0,0)
}
.select_checkout._select-active .select__title {
  color: #1a1a1c
}
._select-open:not(.select--show-top) .select__title {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: transparent
}
._select-open.select--show-top .select__title {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-color: transparent
}
.select__value {
  display: flex;
  min-width: 0;
  align-items: center;
  padding: .5625rem 1.1875rem;
  gap: .625rem;
  color: #000;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.3
}
.select__value>* {
  flex: 1 1 auto
}
.select__value:after {
  content: "";
  transition: all .3s ease 0s;
  display: block;
  width: 1rem;
  height: .5625rem;
  background: url(../img/icons/check.svg) no-repeat center/contain
}
._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.select_lang .select__value {
  gap: .5rem;
  color: #000;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400
}
.select_lang .select__value::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background: url(../img/icons/earth.svg) no-repeat center/contain
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: .5
}
.select__content {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__input {
  width: 100%;
  background-color: rgba(0,0,0,0);
  height: 100%
}
.select__options {
  color: #000;
  position: absolute;
  top: calc(100% - .0625rem);
  border-radius: 0 0 .75rem .75rem;
  min-width: 100%;
  left: 0;
  overflow: hidden;
  background-color: #fff;
  border: .0625rem solid rgba(143,154,167,.3);
  border-top: 0
}
.select_lang .select__options {
  padding: 0;
  border: none
}
._select-open:not(.select--show-top) .select__options {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-color: transparent
}
.select--show-top._select-open .select__options {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: transparent
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem
}
.select__option {
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding: .625rem;
  color: inherit;
  color: #8f9aa7;
  font-family: Unbounded,sans-serif;
  font-size: 1.125rem;
  line-height: 1.5
}
.select_lang .select__option {
  padding: .125rem;
  gap: .5rem;
  color: #000;
  text-align: center;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5
}
.select__option._select-selected {
  background-color: #eee
}
.select__row {
  display: inline-flex;
  align-items: center
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - .0625rem)
}
._select-tag {
  cursor: pointer
}
.select__options,
.select__title {
  transition: border-color .3s
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.post-block__date a,
.user-mini-pr__username a {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color .3s
}
.auth__label a,
.text a {
  text-decoration: underline;
  text-decoration-color: inherit;
  transition: text-decoration-color .3s
}
.icon-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: #8f9aa7;
  transition: all .3s
}
.icon-btn::before {
  font-size: 1.25rem
}
.splide__pagination {
  top: calc(100% + 1.25rem)!important;
  display: flex!important;
  flex-wrap: wrap!important;
  justify-content: center!important;
  align-items: center;
  gap: .8125rem;
  bottom: 0!important;
  z-index: 2!important
}
.splide__pagination li {
  position: relative;
  height: .5625rem;
  width: .5625rem
}
.splide:not(.is-overflow) .splide__pagination {
  display: none!important
}
.splide__pagination__page {
  position: absolute!important;
  top: 0;
  left: 0;
  margin: 0!important;
  -webkit-transform: none!important;
  transform: none!important;
  height: .5625rem!important;
  width: .5625rem!important;
  transition: background-color .3s!important;
  border: none!important;
  opacity: 1!important;
  background-color: rgba(0,0,0,.2)!important
}
.splide__pagination__page.is-active {
  background-color: #ee5f96!important
}
.button {
  color: #fff;
  text-align: center;
  font-family: Unbounded,sans-serif;
  font-size: 1.125rem;
  padding: .8125rem 1.125rem;
  border-radius: .75rem;
  transition: all .3s;
  border: .125rem solid #ee5f96;
  background-color: #ee5f96;
  display: flex;
  align-items: center;
  gap: .625rem;
  justify-content: center
}
.button svg {
  width: 1.5rem;
  height: 1.5rem
}
.button::before {
  font-size: 1.125rem
}
.button--border {
  color: #000;
  border-color: rgba(0,0,0,.1);
  background-color: rgba(0,0,0,0)
}
.button--white {
  color: #000;
  background-color: #fff;
  border-color: #fff
}
.button--white.button--border {
  color: #fff;
  background-color: rgba(0,0,0,0)
}
.button--black {
  background-color: #000;
  border-color: #000
}
.button--blue {
  background-color: #0866ff;
  border-color: #0866ff
}
.title {
  color: #000;
  text-align: center;
  font-family: Unbounded,sans-serif;
  font-size: 3rem
}
.title span {
  color: #ee5f96
}
.text {
  font-size: 1.125rem;
  line-height: 1.5
}
.text h2,
.text h3 {
  font-family: Unbounded,sans-serif;
  font-size: 1.5rem
}
.text h2:not(:last-child),
.text h3:not(:last-child) {
  margin-bottom: .9375rem
}
.text h2 span,
.text h3 span {
  color: #ee5f96
}
.text h4,
.text h5 {
  font-size: 1.125rem;
  font-weight: 700
}
.text h4:not(:last-child),
.text h5:not(:last-child) {
  margin-bottom: .375rem
}
.text h4 span,
.text h5 span {
  color: #ee5f96
}
.text a {
  color: #ee5f96
}
.text ul {
  padding-left: 1.875rem
}
.text ul li {
  list-style: disc
}
.text ol {
  padding-left: 1.875rem
}
.text ol li {
  list-style: decimal
}
.terms-links {
  padding: 0 .625rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: .625rem
}
.terms-links a {
  color: #8f9aa7;
  font-size: .875rem;
  display: flex;
  align-items: center;
  gap: .625rem;
  transition: all .3s
}
.terms-links a:not(:last-child)::after {
  content: "";
  width: .1875rem;
  height: .1875rem;
  background-color: #8f9aa7
}
.tag {
  display: block;
  font-size: .75rem;
  line-height: 1.4;
  padding: .25rem;
  border-radius: .3125rem;
  border: .0625rem solid rgba(0,0,0,.1);
  background: rgba(0,0,0,.05);
  backdrop-filter: blur(3.9375rem);
  transition: all .3s
}
.tag--light {
  color: #fff;
  background: hsla(0,0%,100%,.05);
  border-color: hsla(0,0%,100%,.1)
}
.video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.video__button {
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 2
}
.video__button svg {
  width: .9375rem;
  height: .9375rem
}
.video__button svg path {
  transition: fill-opacity .3s
}
.video__preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.field input {
  border-radius: .375rem;
  border: .0625rem solid rgba(0,0,0,.1);
  background: #fff;
  padding: .625rem 1.25rem;
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: 500;
  transition: border-color .3s
}
.field input:focus {
  border-color: #ee5f96
}
.field input::-webkit-input-placeholder {
  color: #8f9aa7;
  -webkit-transition: color .3s;
  transition: color .3s
}
.field input:-ms-input-placeholder {
  color: #8f9aa7;
  -ms-transition: color .3s;
  transition: color .3s
}
.field input::-ms-input-placeholder {
  color: #8f9aa7;
  -ms-transition: color .3s;
  transition: color .3s
}
.field input::placeholder {
  color: #8f9aa7;
  transition: color .3s
}
.field::before {
  position: absolute;
  top: .875rem;
  left: .5rem;
  pointer-events: none;
  transition: color .3s;
  color: #8f9aa7
}
.field--icon {
  position: relative
}
.field--icon input {
  padding-left: 2.25rem
}
.field--icon::before {
  font-size: 1.1875rem
}
.field:has(input:focus)::before {
  color: #ee5f96
}
.header {
  padding: .8125rem 1.875rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  position: sticky;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%
}
.header__logo {
  width: 5.6875rem;
  height: 2.75rem
}
.menu {
  flex-grow: 1
}
.menu__body {
  display: flex;
  align-items: center
}
.menu__body ul {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-grow: 1
}
.menu__body ul li {
  padding: .625rem 0;
  color: #000;
  font-family: Unbounded,sans-serif;
  font-size: 1.125rem
}
.menu__body ul li a {
  transition: all .3s
}
.menu__actions {
  display: flex;
  gap: .875rem
}
.menu__button {
  min-width: 10.3125rem;
  padding: .5rem 1.125rem
}
.menu__wallet {
  font-family: Unbounded,sans-serif;
  gap: .625rem;
  display: flex;
  align-items: center;
  padding: .5625rem;
  border-radius: .375rem;
  border: .0625rem solid rgba(0,0,0,.1);
  background: hsla(0,0%,100%,.05);
  backdrop-filter: blur(.78125rem);
  transition: all .3s
}
.menu__wallet::before {
  font-size: 1.5rem;
  color: #ffc107;
  transition: color .3s
}
.menu__profile img {
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%
}
.menu__profile._online {
  position: relative
}
.menu__profile._online::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: .625rem;
  height: .625rem;
  background-color: #35d063;
  border: .09375rem solid #fff;
  border-radius: 50%
}
.icon-menu {
  display: none
}
.footer {
  background-color: #fff;
  padding: .8125rem 1.875rem;
  display: flex;
  align-items: center;
  gap: 1.875rem
}
.footer__logo {
  width: 5.6875rem;
  height: 2.75rem;
  flex-shrink: 0
}
.footer__menu {
  flex-grow: 1
}
.footer__menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: .3125rem 3.25rem
}
.footer__menu ul li {
  color: #000;
  font-family: Unbounded,sans-serif;
  font-size: 1.125rem
}
.footer__menu ul li a {
  padding: .625rem;
  transition: all .3s
}
.home__hero {
  min-height: calc(100dvh - var(--header-height))
}
.hero-home {
  position: relative;
  padding: 1.875rem 0;
  display: flex;
  align-items: center
}
.hero-home__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.hero-home__container {
  position: relative;
  z-index: 2;
  width: 100%
}
.hero-home__body {
  padding: 1.875rem;
  border-radius: 1rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  max-width: 46.875rem
}
.hero-home__logo {
  width: 10.5rem;
  height: 5.125rem
}
.hero-home__title {
  text-align: left
}
.hero-home__label {
  color: #000;
  font-size: 1.125rem;
  line-height: 1.5
}
.hero-home__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem
}
.hero-home__item {
  padding: .625rem 1rem .625rem .625rem;
  border-radius: 15.9375rem;
  border: .0625rem solid rgba(0,0,0,.1);
  display: flex;
  align-items: center;
  gap: .59375rem;
  font-weight: 700
}
.hero-home__item img {
  width: 1.5rem;
  height: 1.5rem
}
.hero-home__link {
  width: 100%;
  max-width: 19.375rem
}
.top-home {
  padding: 4.9375rem 0 6.875rem
}
.top-home__title:not(:last-child) {
  margin-bottom: 3.125rem
}
.top-home__slider:not(:last-child) {
  margin-bottom: 2.5rem
}
.top-home__slider .item-model {
  aspect-ratio: 244/311;
  padding: .9375rem
}
.top-home__more {
  width: 100%;
  margin: 0 auto
}
.item-model {
  position: relative;
  padding: 1.25rem;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: .125rem solid transparent;
  transition: all .3s
}
.item-model>* {
  position: relative;
  z-index: 3
}
.item-model::before,
.item-model__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top center
}
.item-model__image {
  z-index: 1;
  -o-object-fit: cover;
  object-fit: cover
}
.item-model::before {
  content: "";
  z-index: 2;
  background: linear-gradient(180deg,rgba(0,0,0,0) 25.51%,#000 81.38%)
}
.item-model__label {
  font-family: Unbounded,sans-serif;
  font-size: .75rem;
  font-weight: 500;
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ee5f96
}
.item-model__label:not(:last-child) {
  margin-bottom: .625rem
}
.item-model__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: end
}
.item-model__body:not(:last-child) {
  margin-bottom: .625rem
}
.item-model__title {
  color: #fff;
  font-family: Unbounded,sans-serif;
  line-height: 1.5;
  display: flex;
  gap: .3125rem;
  align-items: center
}
.item-model__title.verif::after {
  content: "";
  width: .875rem;
  height: .875rem;
  background: url(../img/home/top/verif.svg) no-repeat center/contain
}
.item-model__title:not(:last-child) {
  margin-bottom: .25rem
}
.item-model__username {
  color: hsla(0,0%,100%,.5);
  font-size: .875rem;
  line-height: 1.5;
  transition: color .3s
}
.item-model__username:not(:last-child) {
  margin-bottom: .5rem
}
.item-model__text {
  color: #fff;
  font-size: .875rem;
  line-height: 1.4
}
.item-model__text:not(:last-child) {
  margin-bottom: .5rem
}
.item-model__tags {
  display: flex;
  flex-wrap: wrap;
  gap: .3125rem .25rem
}
.item-model__position {
  color: #fff;
  font-family: Unbounded,sans-serif;
  font-size: .75rem;
  font-weight: 500
}
.item-model__rating {
  padding: .625rem;
  border-radius: .375rem;
  border: .0625rem solid rgba(0,0,0,.1);
  background: hsla(0,0%,100%,.05);
  backdrop-filter: blur(.75rem);
  color: #fff;
  font-family: Unbounded,sans-serif;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  gap: .625rem;
  align-self: start
}
.item-model__rating::before {
  font-size: 1.5rem;
  color: #ffc107;
  flex-shrink: 0
}
.item-model__actions {
  display: flex;
  gap: .625rem;
  justify-content: space-between
}
.item-model__dislike,
.item-model__like {
  width: 4.375rem;
  height: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8f9aa7;
  border-radius: 50%;
  transition: all .3s;
  background-color: #1c1c1c
}
.item-model__dislike::before,
.item-model__like::before {
  font-size: .9375rem
}
.item-model__fire {
  width: 13.75rem;
  height: 4.375rem;
  border-radius: 15.9375rem;
  background: #ee5f96;
  color: #1c1c1c;
  font-family: Unbounded,sans-serif;
  font-size: 2.25rem;
  transition: all .3s;
  font-weight: 500
}
.item-model__like {
  width: 6.5rem;
  border-radius: 15.9375rem;
  color: #fff
}
.item-model__like::before {
  font-size: 1.125rem
}
.roadmap-home {
  padding: 5.3125rem 0;
  background-color: rgba(238,95,150,.1)
}
.roadmap-home__container {
  width: 100%;
  max-width: 71.1875rem
}
.home__customize .roadmap-home__container {
  max-width: 63.4375rem
}
.home__share .roadmap-home__container {
  max-width: 69.25rem
}
.roadmap-home__title {
  position: relative;
  z-index: 3
}
.roadmap-home__title:not(:last-child) {
  margin-bottom: 3.125rem
}
.roadmap-home__body {
  display: grid;
  align-items: center;
  grid-template-columns: 479fr 553fr
}
.home__customize .roadmap-home__body {
  grid-template-columns: 290fr 553fr;
  position: relative
}
.home__customize .roadmap-home__body::before {
  content: "";
  aspect-ratio: 186/130;
  background: url(../img/home/roadmap/arrow.svg) no-repeat center/contain;
  position: absolute;
  top: 0;
  right: 8%;
  z-index: 2;
  -webkit-transform: translate(0,-40%) rotate(105deg);
  transform: translate(0,-40%) rotate(105deg)
}
.home__share .roadmap-home__body {
  grid-template-columns: 553fr 427fr
}
.roadmap-home__image {
  min-width: 0;
  position: relative;
  aspect-ratio: 479/459
}
.roadmap-home__image::before {
  content: "";
  border-radius: 1.625rem;
  background-color: #f9c4d9;
  position: absolute;
  top: 0;
  left: 50%;
  width: 94.154489%;
  height: 94.144144%;
  -webkit-transform: rotate(-4deg) translateX(-50%);
  transform: rotate(-4deg) translateX(-50%)
}
.roadmap-home__image img {
  position: absolute;
  border-radius: 1.625rem;
  overflow: hidden;
  border: .125rem solid #ee5f96;
  background: #fff;
  -o-object-fit: cover;
  object-fit: cover;
  width: 91.858038%;
  aspect-ratio: 1/1;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}
.home__customize .roadmap-home__image {
  aspect-ratio: 308/409
}
.home__customize .roadmap-home__image img {
  width: 88.636364%;
  aspect-ratio: 1087/1377;
  top: 0;
  right: 0;
  left: auto;
  -webkit-transform: translateY(6.4%);
  transform: translateY(6.4%)
}
.home__customize .roadmap-home__image::before {
  width: 88.636364%;
  height: 94.376528%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotate(-5.183deg);
  transform: translate(-50%,-50%) rotate(-5.183deg)
}
.home__share .roadmap-home__image {
  aspect-ratio: 427/220;
  z-index: 2
}
.home__share .roadmap-home__image img {
  width: 98.126464%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: none;
  transform: none
}
.home__share .roadmap-home__image::before {
  width: 98.126464%;
  height: 71.363636%;
  top: 50%;
  right: 0;
  left: auto;
  -webkit-transform: translate(0,-50%) rotate(3deg);
  transform: translate(0,-50%) rotate(3deg)
}
.home__share .roadmap-home__image::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 0;
  aspect-ratio: 61/72;
  background: url(../img/home/roadmap/fire.svg) no-repeat center/contain
}
.home__active .roadmap-home__image {
  position: relative;
  z-index: 3
}
.roadmap-home__content {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  align-items: start
}
.home__active .roadmap-home__content {
  position: relative
}
.home__active .roadmap-home__content::before {
  content: "";
  aspect-ratio: 132/73;
  background: url(../img/home/roadmap/lips.svg) no-repeat center/contain;
  position: absolute;
  bottom: 100%;
  left: 6.4375rem;
  z-index: 2;
  width: 8.25rem;
  -webkit-transform: translateY(13.69863%);
  transform: translateY(13.69863%)
}
.roadmap-home__step {
  padding: .625rem;
  border-radius: .75rem;
  background-color: rgba(238,95,150,.2);
  color: #ee5f96;
  font-family: Unbounded,sans-serif;
  font-size: 1.125rem
}
.home__share {
  background-color: #fff
}
.join-home {
  padding: 9.375rem 0 6.875rem;
  position: relative;
  overflow: hidden
}
.join-home::before {
  content: "";
  aspect-ratio: 689/748;
  background: url(../img/home/heart.svg) no-repeat center/contain;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  height: 156.485356%
}
.join-home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2
}
.join-home__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.join-home__text {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5
}
.join-home__text:not(:last-child) {
  margin-bottom: 3.125rem
}
.join-home__link {
  width: 100%;
  max-width: 19.375rem
}
.page__profile {
  margin-bottom: 1.875rem
}
.profile {
  padding-top: 1.25rem
}
.profile__container {
  display: grid;
  grid-template-columns: 19.375rem 1fr 19.375rem;
  gap: 1.1875rem
}
.profile__body {
  min-width: 0
}
.menu-profile {
  display: flex;
  flex-direction: column;
  gap: .625rem;
  padding: 1.25rem;
  background-color: #fff;
  border-radius: 1rem
}
.menu-profile__item {
  padding: .625rem;
  color: #8f9aa7;
  font-family: Unbounded,sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: .625rem;
  border-radius: 1rem;
  transition: all .3s
}
.menu-profile__item span {
  flex-grow: 1
}
.menu-profile__item::before {
  font-size: 1.5rem
}
.menu-profile__counter {
  font-family: Mulish,sans-serif;
  color: #ee5f96;
  font-size: .875rem;
  font-weight: 700;
  padding: .1875rem .625rem;
  border-radius: 15.9375rem;
  border: .0625rem solid #ee5f96
}
.fan-profile {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.fan-profile__header {
  padding: .625rem;
  border-radius: .75rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: .625rem
}
.fan-profile__title {
  font-family: Unbounded,sans-serif;
  font-size: 1.125rem
}
.fan-profile__search .field input {
  font-size: .875rem;
  font-weight: 400
}
.fan-profile__search .field::before {
  top: .6875rem
}
.fan-profile__tags {
  display: flex;
  flex-wrap: wrap;
  gap: .625rem
}
.fan-profile__tags .tag {
  font-size: .875rem
}
.fan-profile__swiper {
  aspect-ratio: 640/480
}
.post-block {
  padding: 1.25rem;
  border-radius: 0 0 1rem 1rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.post-block__sort {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  justify-content: space-between
}
.post-block__sort-title {
  color: #8f9aa7;
  font-family: Unbounded,sans-serif;
  font-size: 1.125rem
}
.post-block__header {
  display: flex;
  gap: 1.25rem;
  align-items: start
}
.post-block__user {
  flex-grow: 1
}
.post-block__date {
  padding: .625rem;
  color: #8f9aa7
}
.post-block__date a {
  transition: all .3s
}
.post-block__more {
  width: 1.875rem;
  height: 1.875rem
}
.post-block__body {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.post-block__media {
  position: relative;
  aspect-ratio: 600/285;
  border-radius: .75rem;
  overflow: hidden;
  padding: 1.25rem;
  display: flex;
  align-items: end
}
.post-block__media img,
.post-block__media video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.post-block__sub {
  width: 100%;
  position: relative;
  z-index: 2
}
.post-block__footer {
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: center
}
.post-block__actions {
  display: flex;
  gap: .625rem
}
.post-block__fav::before {
  font-size: 1.25rem
}
.user-mini-pr {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  gap: .3125rem .9375rem
}
.user-mini-pr__image {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  grid-row: 1/3
}
.user-mini-pr__title {
  color: #000;
  font-family: Unbounded,sans-serif;
  font-size: 1.125rem;
  display: flex;
  gap: .1875rem;
  align-items: center
}
.user-mini-pr__title.verif::after {
  content: "";
  width: 1.125rem;
  flex-shrink: 0;
  height: 1.125rem;
  background: url(../img/icons/verif-dark.svg) no-repeat center/contain
}
.user-mini-pr__username {
  color: #8f9aa7;
  font-size: 1.125rem;
  line-height: 1.5
}
.user-mini-pr__username a {
  transition: all .3s
}
.social-btn {
  padding: .3125rem .625rem;
  display: flex;
  gap: .3125rem;
  align-items: center;
  color: #8f9aa7;
  font-weight: 700;
  line-height: 1.4;
  transition: all .3s;
  border-radius: 15.9375rem
}
.social-btn::before {
  font-size: 1.25rem
}
.top-creators-pr__header {
  display: flex;
  justify-content: space-between;
  gap: .625rem
}
.top-creators-pr__header:not(:last-child) {
  margin-bottom: 1.5625rem
}
.top-creators-pr__title {
  font-family: Unbounded,sans-serif;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  gap: .625rem
}
.top-creators-pr__title::before {
  font-size: 1.5rem;
  color: #fc0
}
.top-creators-pr__arrows {
  display: flex
}
.top-creators-pr__slider .item-model {
  aspect-ratio: 310/390
}
.slider-arrow {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all .3s;
  color: #8f9aa7
}
.slider-arrow::before {
  font-size: .875rem
}
.slider-arrow--prev::before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.page__blog {
  margin-bottom: 9.375rem
}
.blog {
  padding-top: 3.75rem
}
.blog__title:not(:last-child) {
  margin-bottom: 1.875rem
}
.blog__hero {
  min-height: 40rem
}
.blog__hero:not(:last-child) {
  margin-bottom: 6.25rem
}
.hero-blog {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: .625rem;
  justify-content: end;
  position: relative
}
.hero-blog__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden
}
.hero-blog__image::before {
  content: "";
  background: linear-gradient(180deg,rgba(0,0,0,0) 39.92%,#000 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute
}
.hero-blog__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  z-index: 1
}
.hero-blog__title {
  color: #fff;
  text-align: left;
  position: relative;
  transition: color .3s;
  z-index: 2
}
.hero-blog__text {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.5
}
.hero-blog__text b {
  font-weight: 700
}
.articles-blog__title {
  font-size: 2rem
}
.articles-blog__title:not(:last-child) {
  margin-bottom: 1.875rem
}
.articles-blog__items {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(17.5rem,1fr));
  gap: 1.25rem
}
.articles-blog__items:not(:last-child) {
  margin-bottom: 3.125rem
}
.articles-blog__button {
  width: 100%;
  max-width: 13.875rem;
  margin: 0 auto;
  border-color: #ee5f96
}
.item-blog {
  padding: .625rem;
  border-radius: .75rem;
  background: #fff
}
.item-blog__image {
  aspect-ratio: 290/153;
  width: 100%;
  border-radius: .75rem
}
.item-blog__image:not(:last-child) {
  margin-bottom: .625rem
}
.item-blog__body {
  display: flex;
  flex-direction: column;
  gap: .375rem
}
.item-blog__date {
  color: #8f9aa7;
  font-size: .875rem;
  font-weight: 700
}
.item-blog__title {
  font-family: Unbounded,sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  transition: color .3s
}
.item-blog__text {
  line-height: 1.5
}
.about-us {
  padding-top: 3.125rem
}
.about-us__banner:not(:last-child) {
  margin-bottom: 3.125rem
}
.about-us__body {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2.5rem
}
.about-us__body:not(:last-child) {
  margin-bottom: 3.75rem
}
.about-us__hero {
  min-height: 37.5rem
}
.about-us__hero:not(:first-child) {
  margin-top: 3.125rem
}
.banner-abu {
  padding: 0 3.3125rem 0 1.25rem;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 12.8125rem;
  gap: 5.5rem;
  border-radius: .75rem
}
.banner-abu__body {
  padding: 1.25rem 0;
  display: flex;
  flex-direction: column;
  gap: .625rem
}
.banner-abu__title {
  color: #ee5f96;
  text-align: left
}
.banner-abu__subtitle {
  color: #000;
  font-family: Unbounded,sans-serif;
  font-size: 2rem;
  line-height: 1.3
}
.banner-abu__image {
  aspect-ratio: 205/221;
  -o-object-fit: contain;
  object-fit: contain
}
.banner-abu__footer {
  display: flex;
  gap: .625rem
}
.banner-abu__button {
  min-width: 11.3125rem
}
.banner-abu--pink {
  background: linear-gradient(90deg,#ee5f96 0,#ff89b6 100%)
}
.banner-abu--pink .banner-abu__title {
  color: #fff
}
.banner-abu--pink .banner-abu__text {
  color: #fff
}
.article {
  padding-top: 3.75rem;
  padding-bottom: 3.125rem
}
.article__wrapper {
  display: grid;
  grid-template-columns: 1fr 19.375rem;
  gap: 3.5625rem
}
.article__wrapper:not(:last-child) {
  margin-bottom: 2.625rem
}
.article__date {
  color: #8f9aa7;
  font-size: .875rem;
  font-weight: 700
}
.article__date:not(:last-child) {
  margin-bottom: 1.25rem
}
.article__title {
  text-align: left
}
.article__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.aside-article__title {
  font-family: Unbounded,sans-serif;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  gap: .625rem
}
.aside-article__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.aside-article__title::before {
  content: "";
  width: .5625rem;
  height: .5625rem;
  border-radius: 50%;
  background-color: #ee5f96
}
.aside-article__item:not(:last-child) {
  margin-bottom: 1.25rem
}
.auth {
  display: grid;
  grid-template-columns: 38.020833% 1fr;
  width: 100%
}
.auth__image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center
}
.auth__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
  z-index: 2
}
.auth__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.auth__logo {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  aspect-ratio: 420/202;
  position: relative;
  z-index: 3
}
.auth__body {
  padding: 1.25rem;
  display: flex;
  align-items: center
}
.auth__block {
  max-width: 27.5rem;
  padding: 1.875rem;
  border-radius: 1rem;
  background: #fff
}
.auth__block-logo {
  aspect-ratio: 160/77;
  max-width: 10rem;
  width: 100%;
  margin: 0 auto
}
.auth__block-logo:not(:last-child) {
  margin-bottom: 3.125rem
}
.auth__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.auth__social-button {
  padding: .625rem 1.25rem
}
.auth__line {
  height: .0625rem;
  width: 100%;
  background-color: rgba(0,0,0,.1)
}
.auth__label {
  color: #000;
  text-align: center;
  line-height: 1.5
}
.auth__label a {
  color: #ee5f96;
  font-weight: 700
}
.shop {
  padding-top: 5.5625rem
}
.shop__title {
  padding: 0 .625rem
}
.shop__title:not(:last-child) {
  margin-bottom: 3.125rem
}
.shop__body {
  padding-top: 3.4375rem;
  background-color: #feeff5
}
.shop__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem
}
.shop__header .select {
  width: 100%;
  max-width: 26.25rem
}
.shop__header:not(:last-child) {
  margin-bottom: 1.25rem
}
.shop__label {
  color: #8f9aa7;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: -.01125rem
}
.shop__wrapper {
  position: relative
}
.shop__items {
  display: grid;
  gap: 1.25rem;
  max-height: 53.4375rem;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill,minmax(17.5rem,1fr))
}
.shop__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8.4375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg,#feeff5 20.39%,rgba(254,239,245,0) 271.85%)
}
.shop__button {
  width: 100%;
  max-width: 10.3125rem;
  color: #ee5f96;
  border-color: #ee5f96
}
.item-shop {
  padding: .5625rem;
  border-radius: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: .625rem;
  transition: border-color .3s;
  border: .0625rem solid transparent
}
.item-shop__image {
  aspect-ratio: 290/225;
  border-radius: 1rem;
  -o-object-fit: cover;
  object-fit: cover
}
.item-shop__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: .3125rem
}
.item-shop__title {
  flex-grow: 1;
  font-family: Unbounded,sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: -.0125rem
}
.item-shop__price {
  color: #ee5f96;
  font-family: Unbounded,sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: -.0125rem
}
.splide__container {
  box-sizing: border-box;
  position: relative
}
.splide__list {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  height: 100%;
  margin: 0!important;
  padding: 0!important
}
.splide.is-initialized:not(.is-active) .splide__list {
  display: block
}
.splide__pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  pointer-events: none
}
.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto
}
.splide:not(.is-overflow) .splide__pagination {
  display: none
}
.splide__progress__bar {
  width: 0
}
.splide {
  position: relative;
  visibility: hidden
}
.splide.is-initialized,
.splide.is-rendered {
  visibility: visible
}
.splide__slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
  list-style-type: none!important;
  margin: 0;
  position: relative
}
.splide__slide img {
  vertical-align: bottom
}
.splide__spinner {
  -webkit-animation: splide-loading 1s linear infinite;
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px
}
.splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}
.splide__toggle.is-active .splide__toggle__play,
.splide__toggle__pause {
  display: none
}
.splide__toggle.is-active .splide__toggle__pause {
  display: inline
}
.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0
}
@-webkit-keyframes splide-loading {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}
@keyframes splide-loading {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.splide__track--fade>.splide__list>.splide__slide {
  margin: 0!important;
  opacity: 0;
  z-index: 0
}
.splide__track--fade>.splide__list>.splide__slide.is-active {
  opacity: 1;
  z-index: 1
}
.splide--rtl {
  direction: rtl
}
.splide__track--ttb>.splide__list {
  display: block
}
.splide__arrow {
  align-items: center;
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 2em;
  justify-content: center;
  opacity: .7;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 2em;
  z-index: 1
}
.splide__arrow svg {
  fill: #000;
  height: 1.2em;
  width: 1.2em
}
.splide__arrow:hover:not(:disabled) {
  opacity: .9
}
.splide__arrow:disabled {
  opacity: .3
}
.splide__arrow:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide__arrow--prev {
  left: 1em
}
.splide__arrow--prev svg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1)
}
.splide__arrow--next {
  right: 1em
}
.splide.is-focus-in .splide__arrow:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide__pagination {
  bottom: .5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1
}
.splide__pagination__page {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 3px;
  opacity: .7;
  padding: 0;
  position: relative;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear,-webkit-transform .2s linear;
  width: 8px
}
.splide__pagination__page.is-active {
  background: #fff;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  z-index: 1
}
.splide__pagination__page:hover {
  cursor: pointer;
  opacity: .9
}
.splide__pagination__page:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide.is-focus-in .splide__pagination__page:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide__progress__bar {
  background: #ccc;
  height: 3px
}
.splide__slide {
  -webkit-tap-highlight-color: transparent
}
.splide__slide:focus {
  outline: 0
}
@supports (outline-offset:-3px) {
  .splide__slide:focus-visible {
    outline: 3px solid #0bf;
    outline-offset: -3px
  }
}
@supports (outline-offset:-3px) {
  .splide.is-focus-in .splide__slide:focus {
    outline: 3px solid #0bf;
    outline-offset: -3px
  }
}
.splide__toggle {
  cursor: pointer
}
.splide__toggle:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide.is-focus-in .splide__toggle:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide__track--nav>.splide__list>.splide__slide {
  border: 3px solid transparent;
  cursor: pointer
}
.splide__track--nav>.splide__list>.splide__slide.is-active {
  border: 3px solid #000
}
.splide__arrows--rtl .splide__arrow--prev {
  left: auto;
  right: 1em
}
.splide__arrows--rtl .splide__arrow--prev svg {
  -webkit-transform: scaleX(1);
  transform: scaleX(1)
}
.splide__arrows--rtl .splide__arrow--next {
  left: 1em;
  right: auto
}
.splide__arrows--rtl .splide__arrow--next svg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1)
}
.splide__arrows--ttb .splide__arrow {
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%)
}
.splide__arrows--ttb .splide__arrow--prev {
  top: 1em
}
.splide__arrows--ttb .splide__arrow--prev svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}
.splide__arrows--ttb .splide__arrow--next {
  bottom: 1em;
  top: auto
}
.splide__arrows--ttb .splide__arrow--next svg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}
.splide__pagination--ttb {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: auto;
  padding: 1em 0;
  right: .5em;
  top: 0
}
@media (min-width:24.99875em) {
  .top-home__more {
    max-width: 19.375rem
  }
}
@media (min-width:43.74875em) {
  .home__share .roadmap-home__image::after {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg)
  }
}
@media (min-width:47.99875em) {
  .top-home__slider .splide__list {
    display: grid!important;
    grid-template-columns: repeat(auto-fill,minmax(15.25rem,1fr));
    gap: 1.25rem
  }
  .home__share {
    min-height: 36.25rem;
    display: flex;
    align-items: center
  }
}
@media (min-width:61.99875em) {
  .hero-home__title {
    font-size: 4rem
  }
}
@media (min-width:69.25em) {
  .home__customize .roadmap-home__body::before {
    width: 11.625rem
  }
  .home__customize .roadmap-home__body {
    gap: 8.25rem
  }
  .home__share .roadmap-home__body {
    gap: 6.75rem
  }
  .home__share .roadmap-home__image::after {
    width: 3.8125rem
  }
}
@media (min-width:74.99875em) {
  .home__share .roadmap-home__image::after {
    -webkit-transform: translateX(60%) rotate(30deg);
    transform: translateX(60%) rotate(30deg)
  }
}
@media (min-width:82.5em) {
  .auth__image {
    padding: 9.6875rem
  }
  .auth__body {
    padding-left: 15rem
  }
}
@media (min-width:125.5em) {
  .roadmap-home__body {
    gap: 5.375rem
  }
}
@media (min-width:120em) {
  .header {
    gap: 10.375rem
  }
  .menu__body {
    gap: 3.25rem
  }
  .menu__body ul {
    gap: 3.25rem
  }
  .menu__body ul:not(:last-child) {
    margin-right: 7.125rem
  }
}
@media (max-width:81.25em) {
  .header {
    gap: 1.25rem
  }
  .menu__body {
    gap: 1.25rem
  }
  .menu__body ul {
    gap: 1.25rem
  }
  .menu__body ul:not(:last-child) {
    margin-right: .0000000625rem
  }
}
@media (max-width:74.99875em) {
  .header {
    padding: 1.25rem .625rem;
    justify-content: space-between
  }
  .header__logo {
    width: 9.375rem;
    height: 4.5rem
  }
  .header__menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0
  }
  .menu__body ul {
    gap: 1.875rem;
    flex-direction: column;
    align-items: start;
    flex-grow: 0
  }
  .menu__body ul:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    gap: 0;
    overflow: auto;
    flex-direction: column;
    align-items: start;
    padding: calc(var(--header-height) + .625rem) .625rem 3.125rem 1.875rem;
    transition: left .3s;
    background-color: #fff
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: var(--header-height);
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__body .select:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.5rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    border-radius: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
}
@media (max-width:74.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:68.81125em) {
  .menu__actions {
    flex-direction: column;
    width: 100%;
    gap: .625rem
  }
}
@media (max-width:61.99875em) {
  .title {
    font-size: 2rem
  }
}
@media (max-width:49.99875em) {
  .footer {
    flex-direction: column;
    align-items: start;
    padding: 4.375rem .625rem .625rem
  }
  .footer__menu ul {
    flex-direction: column;
    align-items: start;
    gap: 3.25rem
  }
}
@media (max-width:47.99875em) {
  .splide__pagination {
    top: calc(100% + 1.875rem)!important
  }
  .hero-home__logo {
    display: none
  }
  .top-home {
    padding: 6.25rem 0
  }
  .top-home__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .top-home__slider:not(:last-child) {
    margin-bottom: 4.3125rem
  }
  .roadmap-home {
    padding: 3.125rem 0
  }
  .roadmap-home__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .roadmap-home__body {
    gap: 1.25rem
  }
  .home__customize .roadmap-home__body::before {
    width: 6.25rem
  }
  .home__customize .roadmap-home__body {
    gap: 1.875rem
  }
  .home__share .roadmap-home__body {
    gap: 1.875rem;
    grid-template-columns: 1fr
  }
  .home__share .roadmap-home__image::after {
    width: 2.5rem
  }
  .join-home {
    padding: 6.875rem 0 7.5rem
  }
  .join-home::before {
    height: 100%
  }
  .join-home__text:not(:last-child) {
    margin-bottom: 1.25rem
  }
}
@media (max-width:43.74875em) {
  .roadmap-home__body {
    grid-template-columns: 1fr
  }
  .home__active .roadmap-home__content::before {
    width: 8.0625rem;
    top: 100%;
    bottom: auto;
    left: auto;
    right: 0;
    -webkit-transform: translateY(-7.042254%);
    transform: translateY(-7.042254%)
  }
  .home__active .roadmap-home__content {
    grid-row: 1
  }
}
@media (max-width:37.49875em) {
  .home__customize .roadmap-home__body::before {
    right: -3%;
    -webkit-transform: translate(0,-10%) rotate(105deg);
    transform: translate(0,-10%) rotate(105deg)
  }
  .home__customize .roadmap-home__body {
    grid-template-columns: 1fr
  }
}
@media (max-width:34.37375em) {
  .top-home__slider .item-model__label {
    font-size: 1.125rem;
    width: 2.75rem;
    height: 2.75rem
  }
  .top-home__slider .item-model__title {
    font-size: 1.5rem;
    gap: .4375rem
  }
  .top-home__slider .item-model__title.verif::after {
    width: 1.3125rem;
    height: 1.3125rem
  }
  .top-home__slider .item-model__title:not(:last-child) {
    margin-bottom: .375rem
  }
  .top-home__slider .item-model__username {
    font-size: 1.125rem
  }
  .top-home__slider .item-model__username:not(:last-child) {
    margin-bottom: .75rem
  }
  .top-home__slider .item-model__text {
    font-size: 1.125rem
  }
  .top-home__slider .item-model__text:not(:last-child) {
    margin-bottom: .75rem
  }
  .top-home__slider .item-model__tags {
    gap: .375rem .3125rem
  }
  .top-home__slider .item-model__tags span {
    padding: .3125rem;
    font-size: 1rem
  }
}
@media (max-width:24.375em) {
  .auth__image {
    padding: 1.25rem
  }
  .auth__body {
    padding-left: 1.25rem
  }
}
@media (min-width:81.25em)and (max-width:120em) {
  @supports (gap:clamp(1.25rem ,-17.8830645161rem + 23.5483870968vw ,10.375rem)) {
    .header {
      gap: clamp(1.25rem ,-17.8830645161rem + 23.5483870968vw ,10.375rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,-17.8830645161rem + 23.5483870968vw ,10.375rem)) {
    .header {
      gap: calc(1.25rem + 9.125*(100vw - 81.25rem)/ 38.75)
    }
  }
  @supports (gap:clamp(1.25rem ,-2.9435483871rem + 5.1612903226vw ,3.25rem)) {
    .menu__body {
      gap: clamp(1.25rem ,-2.9435483871rem + 5.1612903226vw ,3.25rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,-2.9435483871rem + 5.1612903226vw ,3.25rem)) {
    .menu__body {
      gap: calc(1.25rem + 2*(100vw - 81.25rem)/ 38.75)
    }
  }
  @supports (gap:clamp(1.25rem ,-2.9435483871rem + 5.1612903226vw ,3.25rem)) {
    .menu__body ul {
      gap: clamp(1.25rem ,-2.9435483871rem + 5.1612903226vw ,3.25rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,-2.9435483871rem + 5.1612903226vw ,3.25rem)) {
    .menu__body ul {
      gap: calc(1.25rem + 2*(100vw - 81.25rem)/ 38.75)
    }
  }
  @supports (margin-right:clamp(0.0000000625rem ,-14.9395159355rem + 18.3870966129vw ,7.125rem)) {
    .menu__body ul:not(:last-child) {
      margin-right: clamp(.0000000625rem ,-14.9395159355rem + 18.3870966129vw ,7.125rem)
    }
  }
  @supports not (margin-right:clamp(0.0000000625rem ,-14.9395159355rem + 18.3870966129vw ,7.125rem)) {
    .menu__body ul:not(:last-child) {
      margin-right: calc(.0000000625rem + 7.1249999375*(100vw - 81.25rem)/ 38.75)
    }
  }
}
@media (min-width:47.99875em)and (max-width:125.5em) {
  @supports (gap:clamp(1.25rem ,-1.3047309721rem + 5.3224947985vw ,5.375rem)) {
    .roadmap-home__body {
      gap: clamp(1.25rem ,-1.3047309721rem + 5.3224947985vw ,5.375rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,-1.3047309721rem + 5.3224947985vw ,5.375rem)) {
    .roadmap-home__body {
      gap: calc(1.25rem + 4.125*(100vw - 47.99875rem)/ 77.50125)
    }
  }
}
@media (min-width:47.99875em)and (max-width:69.25em) {
  @supports (width:clamp(6.25rem ,-5.8901461679rem + 25.2926298453vw ,11.625rem)) {
    .home__customize .roadmap-home__body::before {
      width: clamp(6.25rem ,-5.8901461679rem + 25.2926298453vw ,11.625rem)
    }
  }
  @supports not (width:clamp(6.25rem ,-5.8901461679rem + 25.2926298453vw ,11.625rem)) {
    .home__customize .roadmap-home__body::before {
      width: calc(6.25rem + 5.375*(100vw - 47.99875rem)/ 21.25125)
    }
  }
  @supports (gap:clamp(1.875rem ,-12.5237780131rem + 29.9982353979vw ,8.25rem)) {
    .home__customize .roadmap-home__body {
      gap: clamp(1.875rem ,-12.5237780131rem + 29.9982353979vw ,8.25rem)
    }
  }
  @supports not (gap:clamp(1.875rem ,-12.5237780131rem + 29.9982353979vw ,8.25rem)) {
    .home__customize .roadmap-home__body {
      gap: calc(1.875rem + 6.375*(100vw - 47.99875rem)/ 21.25125)
    }
  }
  @supports (gap:clamp(1.875rem ,-9.1358302453rem + 22.939827069vw ,6.75rem)) {
    .home__share .roadmap-home__body {
      gap: clamp(1.875rem ,-9.1358302453rem + 22.939827069vw ,6.75rem)
    }
  }
  @supports not (gap:clamp(1.875rem ,-9.1358302453rem + 22.939827069vw ,6.75rem)) {
    .home__share .roadmap-home__body {
      gap: calc(1.875rem + 4.875*(100vw - 47.99875rem)/ 21.25125)
    }
  }
  @supports (width:clamp(2.5rem ,-0.4644542968rem + 6.1761072878vw ,3.8125rem)) {
    .home__share .roadmap-home__image::after {
      width: clamp(2.5rem ,-.4644542968rem + 6.1761072878vw ,3.8125rem)
    }
  }
  @supports not (width:clamp(2.5rem ,-0.4644542968rem + 6.1761072878vw ,3.8125rem)) {
    .home__share .roadmap-home__image::after {
      width: calc(2.5rem + 1.3125*(100vw - 47.99875rem)/ 21.25125)
    }
  }
}
@media (min-width:24.375em)and (max-width:82.5em) {
  @supports (padding:clamp(1.25rem ,-2.2883064516rem + 14.5161290323vw ,9.6875rem)) {
    .auth__image {
      padding: clamp(1.25rem ,-2.2883064516rem + 14.5161290323vw ,9.6875rem)
    }
  }
  @supports not (padding:clamp(1.25rem ,-2.2883064516rem + 14.5161290323vw ,9.6875rem)) {
    .auth__image {
      padding: calc(1.25rem + 8.4375*(100vw - 24.375rem)/ 58.125)
    }
  }
  @supports (padding-left:clamp(1.25rem ,-4.5161290323rem + 23.6559139785vw ,15rem)) {
    .auth__body {
      padding-left: clamp(1.25rem ,-4.5161290323rem + 23.6559139785vw ,15rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,-4.5161290323rem + 23.6559139785vw ,15rem)) {
    .auth__body {
      padding-left: calc(1.25rem + 13.75*(100vw - 24.375rem)/ 58.125)
    }
  }
}
@media (any-hover:hover) {
  .select__option:hover {
    background: #e2e2e2
  }
  .select:hover .select__options,
  .select:hover .select__title {
    border-color: #ee5f96
  }
  .post-block__date a:hover,
  .user-mini-pr__username a:hover {
    text-decoration-color: inherit
  }
  .auth__label a:hover,
  .text a:hover {
    text-decoration-color: transparent
  }
  .icon-btn:not(:disabled):hover {
    background-color: rgba(238,95,150,.3019607843);
    color: #ee5f96
  }
  .button:hover {
    background-color: #d95286;
    border-color: #d95286
  }
  .button--border:hover {
    color: #d95286;
    border-color: #d95286;
    background-color: rgba(0,0,0,0)
  }
  .button--white:hover {
    color: #fff
  }
  .button--white:hover.button--border {
    background-color: #d95286;
    border-color: #d95286;
    color: #fff
  }
  .button--black:hover {
    background-color: #d95286;
    border-color: #d95286
  }
  .button--blue:hover {
    background-color: #d95286;
    border-color: #d95286
  }
  .terms-links a:hover {
    color: #ee5f96
  }
  a.tag:hover {
    background-color: rgba(238,95,150,.3);
    color: #ee5f96;
    border-color: rgba(238,95,150,.3)
  }
  .video__button:hover {
    background-color: #ee5f96
  }
  .video__button:hover svg path {
    fill-opacity: 1
  }
  .field:hover input {
    border-color: #ee5f96
  }
  .field:hover::before {
    color: #ee5f96
  }
  .menu__body ul li a:hover {
    color: #ee5f96
  }
  .menu__wallet:hover {
    color: #ee5f96;
    background-color: rgba(238,95,150,.3);
    border-color: rgba(238,95,150,.3)
  }
  .menu__wallet:hover::before {
    color: #ee5f96
  }
  .footer__menu ul li a:hover {
    color: #ee5f96
  }
  .item-model:not(:not(a)):hover {
    border-color: #ee5f96
  }
  .item-model:not(:not(a)):hover .item-model__username {
    color: #ee5f96
  }
  .item-model__dislike:not(:disabled):hover,
  .item-model__like:not(:disabled):hover {
    background-color: rgba(238,95,150,.3019607843);
    color: #ee5f96
  }
  .item-model__fire:not(:disabled):hover {
    background-color: rgba(238,95,150,.3019607843);
    color: #ee5f96
  }
  .item-model__like:hover {
    color: #ee5f96
  }
  .menu-profile__item:not(:disabled):hover {
    background-color: rgba(238,95,150,.3019607843);
    color: #ee5f96
  }
  .post-block__date a:hover {
    color: #ee5f96
  }
  .user-mini-pr__username a:hover {
    color: #ee5f96
  }
  .social-btn:not(:disabled):hover {
    background-color: rgba(238,95,150,.3019607843);
    color: #ee5f96
  }
  .slider-arrow:not(:disabled):hover {
    background-color: rgba(238,95,150,.3019607843);
    color: #ee5f96
  }
  .hero-blog:hover .hero-blog__title {
    color: #ee5f96
  }
  .articles-blog__button:hover {
    background-color: #ee5f96;
    color: #fff
  }
  .item-blog:hover .item-blog__title {
    color: #ee5f96
  }
  .shop__button:hover {
    background-color: #d95286;
    border-color: #d95286;
    color: #fff
  }
  .item-shop:hover {
    border-color: #ee5f96
  }
}
@media screen and (-ms-high-contrast:none) {
  .splide__slide:focus-visible {
    border: 3px solid #0bf
  }
  .splide.is-focus-in .splide__slide:focus {
    border: 3px solid #0bf
  }
  .splide.is-focus-in .splide__track>.splide__list>.splide__slide:focus {
    border-color: #0bf
  }
}